<!DOCTYPE html>
<html lang="en">

  <head>
  {% block head %}
      {% include '_meta.html' %}
      {% include '_style.html' %}
      {% include '_icon.html' %}
      <title>The Botrytis Viewer - Annotations</title>
  {% endblock %}
  </head>

  <body class="d-flex flex-column h-100">
  {% block body %}

    {% import 'navbar.html' as navbar %}
    {{ navbar.navbar(active="Annotations") }}

    <main role="main" class="flex-shrink">
      <div class="jumbotron">
        <p>Page: {{ page }}</p>
      </div>
    </main>

    {% include 'footer.html' %}
    {% include '_scripts.html' %}

  {% endblock %}
  </body>

</html>
