<!DOCTYPE html>
<html lang="en">

  <head>
  {% block head %}
      {% include '_meta.html' %}
      {% include '_style.html' %}
      {% include '_icon.html' %}
      <title>The Botrytis Viewer - {{ annotations[0].accession }}</title>
  {% endblock %}
  </head>

  <body class="d-flex flex-column h-100">
  {% block body %}

    {% import 'navbar.html' as navbar %}
    {{ navbar.navbar(active="Annotations") }}

    <main role="main" class="flex-shrink">
      <div class="jumbotron">
        <div class="container">

          <!-- title box -->
          <div class="d-flex align-items-center p-3 my-3 text-light bg-info rounded shadow-sm">
            <div class="lh-100 secondary">
              <h1 class="display-5 icon icon-conceptual icon-structures">
                {{ annotations[0].accession }} - <i>{{ annotations[0].name }}</i>
              </h1>
            </div>
          </div>

          <!-- description box -->
          <div id="description" class="rounded shadow-sm bg-white p-3 my-3">
            <h2 class="mb1 text-info">Description</h2>
            <div class="mx-2 p-0 bg-white rounded">
              <p>{{ annotations[0].description | sentence }}
            </div>
          </div>

          <!-- cross-references box -->
          <div id="cross-references" class="rounded shadow-sm bg-white p-3 my-3">
            <h2 class="mb1 text-info">Cross-References</h2>
            <div class="container">
              <div class="row">
                <div class="col">
                  <a href="//pfam.xfam.org/family/{{ annotations[0].accession }}">
                    Family {{ annotations[0].accession }}
                  </a> on the <b>Pfam</b> database
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="//www.uniprot.org/uniprot/?query=database:(type:pfam {{ annotations[0].accession[:7] }})">
                    Proteins with {{ annotations[0].accession[:7] }} domain
                  </a> on <b>UniProtKB</b>
                </div>
              </div>
            </div>
          </div>

          <!-- genes box -->
          <div id="annotations" class="rounded shadow-sm bg-white p-3 my-3">
            <h2 class="mb1 text-info">Genes</h2>
            <div class="mx-2 p-0 bg-white rounded">
              {% for annotation in annotations %}
              <div class="media text-muted pt-3">
                <!-- <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect fill="#007bff" width="100%" height="100%"></rect><text fill="#007bff" dy=".3em" x="50%" y="50%">32x32</text></svg> -->
                <div class="media-body pb-2 mb-0 small lh-125 border-bottom">
                  <a class="text-secondary d-block" href="/gene/{{ annotation.locus }}">
                    <strong class="text-gray-dark">{{ annotation.locus }} - <i>{{ annotation.gene.name }}</i></strong>
                  </a>
                  <div class="row">
                    <div class="col-2">Start: {{ annotation.start }}</div>
                    <div class="col-2">Stop: {{ annotation.stop }}</div>
                    <div class="col-2">Length: {{ annotation.length }}</div>
                    <div class="col-2">Score: {{ "%.2f"| format(annotation.score) }}</div>
                    <div class="col-3">E-value: {{ "%.2e" | format(annotation.evalue) }}</div>
                  </div>
                </div>
              </div>
              {% else %}
              <i class="text-muted">No annotations for the selected gene.</i>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </main>

    {% include 'footer.html' %}
    {% include '_scripts.html' %}

  {% endblock %}
  </body>

</html>
