{# The page to display information about a single gene #}
{% extends 'base.html.j2' %}
{% set tab_active="Genes" %}

<!-- header -->
{% block head %}
  <!-- CSS for features-viewer -->
  <link href="/static/feature-viewer/css/style.css" rel="stylesheet">
  <!-- page title -->
  <title>The Botrytis Viewer - {{ gene.locus }}</title>
{% endblock %}

<!-- content -->
{% block main %}
  <div class="jumbotron">
    <div class="container">
      <!-- title box -->
      <div class="d-flex align-items-center p-3 my-3 text-light bg-info rounded shadow-lg">
        <div class="lh-100 secondary">
          <h1 class="display-5 icon icon-conceptual icon-dna">
            {{ gene.locus }} - <i>{{ gene.name }}</i>
          </h1>
        </div>
      </div>
      <!-- location box -->
      <div id="location" class="rounded shadow-lg bg-white p-3 my-3">
        <h2 class="mb1 text-info">Location</h2>
        <div class="container">
          <div class="row">
            <div class="col-6 col-sm-4 col-md-2 text-secondary">Contig:</div>
            <div class="col-6 col-sm-8 col-md-10" id="location-contig">{{ gene.contig }}</div>
          </div>
          <div class="row">
            <div class="col-6 col-sm-4 col-md-2 text-secondary">Start:</div>
            <div class="col-6 col-sm-8 col-md-10" id="location-start">{{ gene.start }}</div>
          </div>
          <div class="row">
            <div class="col-6 col-sm-4 col-sm-4 col-md-2 text-secondary">Stop:</div>
            <div class="col-6 col-sm-8" id="location-stop">{{ gene.stop }}</div>
          </div>
          <div class="row">
            <div class="col-6 col-sm-4 col-md-2 text-secondary">Length:</div>
            <div class="col-6 col-sm-8 col-md-10" id="location-length">{{ gene.length }}</div>
          </div>
          <div class="row">
            <div class="col-6 col-sm-4 col-md-2 text-secondary">Strand:</div>
            {% if gene.strand %}
              <div class="col-6 col-sm-8 col-md-10" id="location-length">+ (direct)</div>
            {% else %}
              <div class="col-6 col-sm-8 col-md-10" id="location-length">- (reverse)</div>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- sequence box -->
      <div id="sequence" class="rounded shadow-lg bg-white p-3 my-3">
        <div class="row align-items-start">
          <div class="col-auto mr-auto">
            <h2 class="mb1 text-info">Sequence</h2>
          </div>
          {% macro download_button(name, format) -%}
            <div class="col-auto">
              <a role="button" class="mb1 btn btn-outline-secondary" href="/download/{{ format }}/{{ gene.locus }}">
                <span class="icon icon-functional icon-download"> Download ({{ name  }})</span>
              </a>
            </div>
          {%- endmacro %}
          {{ download_button("FASTA", "fasta") }}
          {{ download_button("GenBank", "gb") }}
        </div>
        <!-- DEBUG <p id="width"></p> -->
        <div class="container">
          <div class="row align-items-start">
            <div class="col-2 col-lg-1" id="sequence-indexes"></div>
            <div class="col-10 col-lg-11" id="sequence-seq"></div>
          </div>
        </div>
      </div>
      <!-- viewer -->
      <div id="map" class="rounded shadow-lg bg-white p-3 my-3">
        <h2 class="mb1 text-info">Features</h2>
        <i class="small text-muted p-4">Left click to zoom, right click to reset scale</i>
        <div class="container">
          <div id="features-viewer"></div>
        </div>
      </div>

      <!-- annotations box -->
      <div id="annotations" class="rounded shadow-lg bg-white p-3 my-3">
        <h2 class="mb1 text-info">Annotations</h2>
        <div class="my-3 p-3 bg-white rounded">
          {% for annotation in gene.annotations %}
          <div class="media text-muted pt-3">
            <div class="media-body pb-2 mb-0 small lh-125 border-bottom">
              <a class="text-secondary d-block" href="/domain/{{ annotation.domain.accession }}">
                <strong class="text-gray-dark">{{ annotation.domain.accession }} - <i>{{ annotation.domain.name }}</i></strong>
              </a>
              <div class="row">
                <div class="col-2">Start: {{ annotation.start }}</div>
                <div class="col-2">Stop: {{ annotation.stop }}</div>
                <div class="col-2">Length: {{ annotation.length }}</div>
                <div class="col-2">Score: {{ "%.2f"| format(annotation.score) }}</div>
                <div class="col-3">E-value: {{ "%.2e" | format(annotation.evalue) }}</div>
              </div>
            </div>
          </div>
          {% else %}
          <i class="text-muted">No annotations for the selected gene.</i>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!-- scripts -->
{% block scripts %}

  <!-- the feature viewer library & its dependencies -->
  <script src="/static/d3/d3.min.js"></script>
  <script src="/static/colormaps/dist/bundles/colormaps.umd.js"></script>
  <script src="/static/feature-viewer/dist/feature-viewer.min.js"></script>

  <!-- a script to make sure the whole sequence in the `Sequence` box
       is always readable even when the window is resized -->
  <script type="text/javascript">
    var seq = "{{ gene.sequence }}";
    // DEBUG var wid = document.getElementById("width");
    var div_ind = document.getElementById("sequence-indexes");
    var div_seq = document.getElementById("sequence-seq");
    function pre_sequence() {
      var w;
      // DEBUG wid.textContent = window.innerWidth;
      if (window.innerWidth >= 1200) {
        w = 101;
      } else if (window.innerWidth >= 992) {
        w = 80;
      } else if (window.innerWidth >= 768) {
        w = 62;
      } else if (window.innerWidth > 688) {
        w = 40
      } else if (window.innerWidth > 468) {
        w = 30;
      } else {
        w = Math.floor(window.innerWidth / 14)
      }
      var di = "";
      var ds = "<div class=\"row no-borders\">";
      for (var i = 0; i < seq.length; i+=w) {
        di += "<div class=\"row text-secondary\">" + i + "</div>";
        ds += "<div class=\"row align-items-start text-monospace\">" + seq.slice(i, i+w)

        if (i+w >= seq.length) {
          ds += '<span unselectable="on">' + ''.padEnd(seq.length - i - w, ' ') + '</span>'
        }

        ds += "</div>";
      }
      div_ind.innerHTML = di;
      div_seq.innerHTML = ds + "</div>";
    }
    window.onresize = pre_sequence;
    pre_sequence();
  </script>

  <!-- a script to fill the features viewer -->
  <script type="text/javascript">
  colormaps.getColormap('viridis', 'hex').then(function(colormap) {
    var ft = new FeatureViewer("{{ gene.sequence }}",
       '#features-viewer',
        {
            showAxis: true,
            showSequence: true,
            brushActive: true, //zoom
            toolbar:false, //current zoom & mouse position
            bubbleHelp:false,
            zoomMax:50 //define the maximum range of the zoom
        });

        {% for annotation in gene.annotations %}
          ft.addFeature({
            data: [{
              x: {{ annotation.start - gene.start }},
              y: {{ annotation.stop - gene.start }},
              description: "{{ annotation.domain.name }}"
            }],
            name: "{{ annotation.domain.accession }}",
            className: "test1", //can be used for styling
            color: {% if annotation.evalue==0 %}
                    colormap[0]
                   {% else %}
                    colormap[256-Math.floor(-Math.log10({{ annotation.evalue }})*256/100)]
                   {% endif %},
            filter: "{{ annotation.domain.accession[:7] }}",
            type: "rect" // ['rect', 'path', 'line']
          });
        {% endfor %}
      })
  </script>

{% endblock %}
