<meta charset="UTF-8">

<head>
    {% include '_style.html' %}
    <title>The Botrytis Viewer - 404 Not Found</title>
</head>

<body class="d-flex flex-column h-100">
{% block body %}

  {% include 'navbar.html' %}

  <main role="main" class="flex-shrink">
    <div class="jumbotron">
      <div class="row"><h1>Oops...</h1></div>
      <div class="row">404 Not Found</div>
      <div class="row">The requested resource could not be found.</div>
    </div>
  </main>

  {% include 'footer.html' %}
  {% include '_scripts.html' %}

{% endblock %}
</body>
