<meta charset="UTF-8">

<head>
    {% include '_style.html' %}
    {% include '_icon.html' %}
    <title>The Botrytis Viewer - {{ status }}</title>
</head>

<body class="d-flex flex-column h-100">
{% block body %}

  {% include 'navbar.html' %}

  <main role="main" class="flex-shrink">
    <div class="jumbotron">
      <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="/static/img/error.gif"/>
          </div>
          <div class="col md-auto">
            <div class="row"><h3>This is definitely an error...</h3></div>
            <div class="row"><hr class="primary"/></div>
            <div class="row"><h1>{{ status }}</h1></div>
            <div class="row">{{ message | sentence }}</div>
          </div>
      </div>
    </div>
  </main>

  {% include 'footer.html' %}
  {% include '_scripts.html' %}

{% endblock %}
</body>
