{# The splash page, displayed when opening the website index #}
{% extends 'base.html.j2' %}

<!-- header -->
{% block head %}
  <title>The Botrytis Viewer</title>
{% endblock %}

<!-- content -->
{% block main %}
  <div class="jumbotron bg-secondary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5" src="/static/img/splash.gif" alt="">
      <h1 class>The Botrytis Viewer</h1>
      <hr>
      <i class="h6">A website that makes you want to look at mold</i>
    </div>
  </div>
{% endblock %}
