{# The page to display information about all annotations #}
{% extends 'base.html.j2' %}
{% set tab_active="Domains" %}

<!-- header -->
{% block head %}
  <title>The Botrytis Viewer - Domains</title>
{% endblock %}

<!-- content -->
{% block main %}
  <div class="jumbotron">
    <p>Page: {{ page }}</p>
  </div>
{% endblock %}
